/* portfolio */
.portfolio .container
{
    padding-bottom: 40px;
}
.portfolio-item:hover
{
    /* padding-bottom: 40px; */
    /* border: 10px solid red; */
    box-shadow: 0 0 12px var(--text-black-700);

}
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    height: 520px;
    text-align: center;
    padding: 10px;
}
.portfolio .portfolio-item-inner:hover{
    box-shadow:  0 0 12px var(--text-black-700);
    transition: 0.5s ease;
}
.portfolio .portfolio-item-inner .portfolio-img > img
{
    width: 100%;
    height: 170px;
    display: block;
}
@media (max-width:767px)

{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .eduupdate{
        flex-direction: column;
    }
    .EDUCATION .edu_cont{
        margin-top: 10px;
    }
    .home .home-img
{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    position: relative;
    
}

.btn{
    margin-left: 10%;
}

}
/* .shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
} */
.portfolio .portfolio-item-inner:hover{
    box-shadow:  4px 4px 8px 0px grey;
    transition: 0.5s ease;
}
.portfolio-item-inner{
    background-color: #e4e6fc;
}
.navigate_ar {
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;

}
.navigate_ar > a {
    color: var(--text-black-900);
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1.4rem;
    transition: 0.5s ease;
}
.navigate_ar > a:hover{
    background-color: teal;
    color: var(--bg-black-100);
}
.project-name{

    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    color: black;
    text-align:center;

}
.project__about{
    height: 140px;
    overflow: hidden;
    font-size: 14px;

}
.project_tech_box{
    text-align: left;
    font-size: 14px;
    color: var(--text-black-900);
}











/* .btn:after,#send_msg:after{
    content: "Hire me";
    position: absolute;
    background-color: var(--skin-color);
    height: 93%;
    width: 93%;
    top: 3.5%;
    left: 3.5%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    display: grid;
    place-items: center;

} */
/* #send_msg::after{
    content: "Send Message";
    background-color: var(--skin-color);
    color: #ffffff;
} */
/* #resume{
    width: 100px;
    left: 6%;
}
#resume::after{
    content: "Resume";
}
#hire{
    width: 120px;
    margin-top: 3px;
    left: 10%;
} */
/* .shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
} */
/* aside */
/* .aside{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-black-100);
} */
/* .aside .navhead .nav{
    width: 70%;
    margin: auto;
} */
/* .aside ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
/* .aside .logo
{    
    margin: 10px;
    font-size: 20px;
    text-transform: capitalize;
} */
/* .aside .logo a
{
    color: var(--text-black-900);
    font-weight: 500;
    padding: 10px 10px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
} */
/* .aside .logo a span
{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
} */
/* .aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 10px;
    border-bottom: 2px solid var(--skin-color);
    border-left: 2px solid var(--skin-color);
    bottom: 0;
    left: 0;
} */
/* .aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 10px;
    border-top: 2px solid var(--skin-color);
    border-right: 2px solid var(--skin-color);
    top: 0;
    right: 0;
} */

/* .aside .navhead .nav li a
{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .navhead .nav li a.active{
    color : var(--skin-color);
}
.aside .navhead .nav li a i
{
    margin-right: 15px;
} */

/* home */
/* .home
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello
{
    font-size: 28px;
    margin: 15px 0;
} */
/* h3.hello span
{
    font-family: cursive;
    font-size: 36px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
}
.typing
{
    color: var(--skin-color);
} */
/* .home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
    font-family: 'Poppins' ,sans-serif;

} */
/* .home-blob{
    width:200px;
    fill :var(--text-black-900);
} */
/* .home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
} */
/* .home .home-img img{
    transition: 0.3s ease;
}
.home .home-img:hover img{
    transform: scale(1.14);
}
.home-img::after
{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}
.home-img::before
{
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -20px;
    top: -40px;
} */


/* .home__icon_cont {
    display: flex;
    flex-direction: row;

}
.home__icon_cont i {
    color: var(--skin-color);
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
} */
/* .about .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span
{
    color: var(--skin-color);
}
.about .about-content .about-text p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info
{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
} */
/* .about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 14px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.introdu{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .info-item p a
{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
} */
/* .about .about-content .personal-info .buttons
{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn
{
    margin-top: 10px;
}
.about .about-content .skills
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
} */
/* .about .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item
{
    margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
} */
/* .about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title 
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about_me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dotted var(--text-black-700);
    color: var(--text-black-700);
    width: 100%;
} */
/* .about_me>div{
    width: 60%;
}
#about-img{
    height: 250px;
    width: 250px;
    transform: translate(-30%,-8%);
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    overflow: hidden;

}
#about-img:before{
    content: "";
    height: 100%;
    width: 150%;
    position: absolute;
    background: conic-gradient(
        var(--skin-color) 20deg,
            transparent 150deg
    );
    left: -25%;
    top: -5%;
    animation: spin 1.5s infinite linear;
} */
/* @keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.row h4{
    color: var(--text-black-700);
}

.margtop {
    margin-top: 30px;
}

.EDUCATION {
    padding: 2rem;
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 600px;
    scroll-behavior: smooth;
 } */
 
 /* .timeline{
     position: relative;
     min-height: 150px;
 
 }
 .line{
     position: absolute;
     z-index:2;
     left: calc(50% - 1px);
     width: 2px;
     top: -50px;
     bottom: -20px;
     background-color: var(--skin-color) ;
     display: none;
 }
 .line:before,.line:after{
     position: absolute;
     display: block;
     content: '';
     height: 1rem;
     width: 1rem;
     border-radius: 50%;
     background-color: var(--skin-color);
     left: 50%;
     transform: translateX(-50%);
 } */
 
 /* .line:after{
     bottom:0;
 }
 
 .section2{
     display: flex;
     opacity:0;
     transform: translateX(-100%);
     transition: 600ms ease;
     position: relative;
     z-index: 0;
     margin: 50px 0;
     padding: 1rem;
     border-radius: 1rem;
     align-items: center;
     min-height: 300px;
    
 }
 .section2:nth-child(odd)
 {
     flex-direction: row-reverse;
     transform: translateX(100%);
 } */
 /* .bead{
     position: absolute;
     display: block;
     height: 1rem;
     width: 1rem;
     border-radius: 50%;
     background-color: var(--skin-color);
     left: 50%;
     top:20%;
     transform: translateX(-50%);
 
 }
 
 .edu_cont{
     width: calc(50% - 2rem);
     padding: 15px;
     border-radius: 10px;
     border: 1px solid var(--bg-black-50);
 }
 .edu_cont:hover{
    box-shadow:  0 0 12px var(--text-black-700);
 }
 .show-me:nth-child
 {
    transform: none;
    opacity: 1;
 } */
 /* .course_,.institute,.duration{
    font-size: 20px;
    color: var(--text-black-900);
 }



/* service */
/* .service .container
{
    padding-bottom: 40px;
}
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    cursor: pointer;
}
.service .service-item .service-item-inner
{
    background-color: transparent;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.5s ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow:  0 0 12px var(--text-black-700);
} */
/* .service .service-item .service-item-inner .icon 
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin:  0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
} */
/* .service .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

.portfolio .container
{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
} */
/* .portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    height: 520px;
    text-align: center;
    padding: 10px;
}
.portfolio .portfolio-item-inner:hover{
    box-shadow:  0 0 12px var(--text-black-700);
    transition: 0.5s ease;
}
.portfolio .portfolio-item-inner .portfolio-img > img
{
    width: 100%;
    height: 170px;
    display: block;
} */

/* contact */
/* .contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
    flex: 0 0 20%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    display: inline-block;
    color: var(--skin-color);
    font-size: 25px;
} */
/* .contact .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4
{
    font-size: 16px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p
{
    font-size: 14px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
} */
/* .contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
} */
/* .techs{
    font-size: 14px;
    color: var(--text-black-900);
} */


/* .TechStacks__text{
    color: var(--skin-color);
} */


/* .techcen{
    text-align: center;
} */


/* .contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
} */
/* #footer{
    text-align: center;
    color: #fff;
    background-color: var(--skin-color);
    min-height: 30vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    left: -0px;
    right: 0px;
    transition: all 0.3s ease;
    padding-top: 20px;
} */
/* #footer h2{
    font-family: cursive,Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: oblique;
} */

/* @media (max-width:1199px)
{
    .section .container
    {
        padding-top: 70px;
    }
    .section
    {
        left: 0;
    }
    .about .about-content .personal-info .info-item p span 
    {
        display: block;
        margin-left: 0;
    }
} */
/* @media (max-width:991px)
{
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
   
    .home .home-img
    {
        margin: auto;
        margin-top: 50px;
    }
    .home-img::before{
        border-top: none;
        border-left: none;
    }
    .home-img::after{
        border-bottom: none;
        border-right: none;
    }
    #heroimgrevv{
        display: flex;
        flex-direction: column-reverse;
    }
    #about-img{
        display: none;
    }
    .about_me>div:nth-child(1)
    {
        width: 100%;
        font-size: 12px;
    }
} */
/* @media (max-width:767px)

{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .eduupdate{
        flex-direction: column;
    }
    .EDUCATION .edu_cont{
        margin-top: 10px;
    }
    .home .home-img
{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    position: relative;
    
}

.btn{
    margin-left: 10%;
}

} */



/* .msg-pop-up{
    background-color: #37b182;
    font-weight: 700;
    font-size: 16px;
    width: 20%;
    padding: 1.5%;
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 100;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    display: none;
    box-shadow: 5px 5px 5px rgba(48, 46, 77, 0.15);
}
.failed-msgpop{
    background-color: #ec1839;
    font-weight: 700;
    font-size: 16px;
    width: 20%;
    padding: 1.5%;
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 100;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    display: none;
} */


/* @media (max-width:557px) {

    

    .edu_cont{
        width: 45%;
    }
    .edu_cont h4{
        width: auto;
        font-size: 9px;
        font-weight: bold;
    }
    .edu_cont p{
        font-size: 9px;
    }
    
    .about___info{
    display: flex;
    width: 100%;
    flex-direction: column;

}   
.adjus {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    
   
}

.about .about-content .personal-info .info-item
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 14px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}


} */

/* @media (max-width:565px) {
  
    h3.hello span {
        font-size: 32px;
    }

} */


/* .skills_Filter_Box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */
/* .skill_filter_btn{
    color: var(--text-black-900);
    font-weight: 600;
    padding: 6px 12px;
    margin-bottom: 1rem;
    background-color: var(--bg-black-100);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.8s ease;
} */


.project_filter_btn{
    color: var(--text-black-900);
    font-weight: 600;
    padding: 6px 12px;
    margin-bottom: 1rem;
    background-color: var(--bg-black-100);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.8s ease;
}


